In [5]:
import pandas as pd
import json

In [6]:
income = pd.read_csv("income_per_person_gdppercapita_ppp_inflation_adjusted.csv")
tsunami = pd.read_csv("tsunami_affected_annual_number.csv")
regions = pd.read_csv("countries_regions.csv")
children = pd.read_csv("child_mortality_0_5_year_olds_dying_per_1000_born.csv")
life = pd.read_csv("life_expectancy_years.csv")
population = pd.read_csv("population_total.csv")

In [7]:
tsunami['1979'][0]

nan

In [8]:
tsunami.columns

Index([u&#39;country&#39;, u&#39;1979&#39;, u&#39;1980&#39;, u&#39;1981&#39;, u&#39;1982&#39;, u&#39;1983&#39;, u&#39;1984&#39;,
       u&#39;1985&#39;, u&#39;1986&#39;, u&#39;1987&#39;, u&#39;1988&#39;, u&#39;1989&#39;, u&#39;1990&#39;, u&#39;1991&#39;, u&#39;1992&#39;,
       u&#39;1993&#39;, u&#39;1994&#39;, u&#39;1995&#39;, u&#39;1996&#39;, u&#39;1997&#39;, u&#39;1998&#39;, u&#39;1999&#39;, u&#39;2000&#39;,
       u&#39;2001&#39;, u&#39;2002&#39;, u&#39;2003&#39;, u&#39;2004&#39;, u&#39;2005&#39;, u&#39;2006&#39;, u&#39;2007&#39;],
      dtype=&#39;object&#39;)

In [9]:
tsunami['country'].dtype

dtype(&#39;O&#39;)

In [10]:
tsunami[1800] = ''

In [11]:
type(tsunami['1979'][0])

numpy.float64

In [12]:
for i,j in tsunami.iterrows():
    print (j['1980'])

nan
0.0
nan
nan
0.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [13]:
regions

     geo                    name           World bank region
0    afg             Afghanistan                  South Asia
1    alb                 Albania       Europe &amp; Central Asia
2    dza                 Algeria  Middle East &amp; North Africa
3    and                 Andorra       Europe &amp; Central Asia
4    ago                  Angola          Sub-Saharan Africa
5    atg     Antigua and Barbuda   Latin America &amp; Caribbean
6    arg               Argentina   Latin America &amp; Caribbean
7    arm                 Armenia       Europe &amp; Central Asia
8    aus               Australia         East Asia &amp; Pacific
9    aut                 Austria       Europe &amp; Central Asia
10   aze              Azerbaijan       Europe &amp; Central Asia
11   bhs                 Bahamas   Latin America &amp; Caribbean
12   bhr                 Bahrain  Middle East &amp; North Africa
13   bgd              Bangladesh                  South Asia
14   brb                Barbados   Latin America &amp; Caribbean
15   blr                 Belarus       Europe &amp; Central Asia
16   bel                 Belgium       Europe &amp; Central Asia
17   blz                  Belize   Latin America &amp; Caribbean
18   ben                   Benin          Sub-Saharan Africa
19   btn                  Bhutan                  South Asia
20   bol                 Bolivia   Latin America &amp; Caribbean
21   bih  Bosnia and Herzegovina       Europe &amp; Central Asia
22   bwa                Botswana          Sub-Saharan Africa
23   bra                  Brazil   Latin America &amp; Caribbean
24   brn                  Brunei         East Asia &amp; Pacific
25   bgr                Bulgaria       Europe &amp; Central Asia
26   bfa            Burkina Faso          Sub-Saharan Africa
27   bdi                 Burundi          Sub-Saharan Africa
28   khm                Cambodia         East Asia &amp; Pacific
29   cmr                Cameroon          Sub-Saharan Africa
..   ...                     ...                         ...
167  swe                  Sweden       Europe &amp; Central Asia
168  che             Switzerland       Europe &amp; Central Asia
169  syr                   Syria  Middle East &amp; North Africa
170  twn                  Taiwan         East Asia &amp; Pacific
171  tjk              Tajikistan       Europe &amp; Central Asia
172  tza                Tanzania          Sub-Saharan Africa
173  tha                Thailand         East Asia &amp; Pacific
174  tls             Timor-Leste         East Asia &amp; Pacific
175  tgo                    Togo          Sub-Saharan Africa
176  ton                   Tonga         East Asia &amp; Pacific
177  tto     Trinidad and Tobago   Latin America &amp; Caribbean
178  tun                 Tunisia  Middle East &amp; North Africa
179  tur                  Turkey       Europe &amp; Central Asia
180  tkm            Turkmenistan       Europe &amp; Central Asia
181  tuv                  Tuvalu         East Asia &amp; Pacific
182  uga                  Uganda          Sub-Saharan Africa
183  ukr                 Ukraine       Europe &amp; Central Asia
184  are    United Arab Emirates  Middle East &amp; North Africa
185  gbr          United Kingdom       Europe &amp; Central Asia
186  usa           United States               North America
187  ury                 Uruguay   Latin America &amp; Caribbean
188  uzb              Uzbekistan       Europe &amp; Central Asia
189  vut                 Vanuatu         East Asia &amp; Pacific
190  ven               Venezuela   Latin America &amp; Caribbean
191  pse               Palestine  Middle East &amp; North Africa
192  vnm                 Vietnam         East Asia &amp; Pacific
193  yem                   Yemen  Middle East &amp; North Africa
194  zmb                  Zambia          Sub-Saharan Africa
195  zwe                Zimbabwe          Sub-Saharan Africa
196  ssd             South Sudan          Sub-Saharan Africa

[197 rows x 3 columns]

In [14]:
for i in regions['name']:
    print i

Afghanistan
Albania
Algeria
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo, Dem. Rep.
Congo, Rep.
Costa Rica
Cote d&#39;Ivoire
Croatia
Cuba
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hong Kong, China
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
North Korea
South Korea
Kuwait
Kyrgyz Republic
Lao
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macedonia, FYR
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia, Fed. Sts.
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Rwanda
St. Kitts and Nevis
St. Lucia
St. Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovak Republic
Slovenia
Solomon Islands
Somalia
South Africa
Spain
Sri Lanka
Sudan
Suriname
Swaziland
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Vanuatu
Venezuela
Palestine
Vietnam
Yemen
Zambia
Zimbabwe
South Sudan

In [15]:
tsunami

,country,1979,1980,1981,1982,1983,1984,1985,1986,1987,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,1800
0,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,
1,France,13.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1720.0,NaN,NaN,NaN,NaN,NaN,
3,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,671000.0,NaN,NaN,NaN,
4,Indonesia,562.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,699000.0,0.0,36300.0,NaN,
5,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,
6,Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5140.0,NaN,NaN,NaN,
7,Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27300.0,NaN,NaN,NaN,
8,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15800.0,NaN,NaN,NaN,
9,Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
10,Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
11,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4830.0,NaN,NaN,NaN,
12,Solomon Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2440.0,
13,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,105000.0,NaN,NaN,NaN,
14,Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1060000.0,NaN,NaN,NaN,
15,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,
16,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,75400.0,NaN,NaN,NaN,
17,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [16]:
tsunami.index[tsunami['country'].str.contains('Tuvalu')]

Int64Index([], dtype=&#39;int64&#39;)

In [18]:
ans = []
max_income = 0
max_tsunami = 0
max_population = 0
max_life = 0
max_children = 0

In [19]:
ans

[]

In [20]:

for i in regions['name']:

    x = {
        "country" : str(i),
        "region" : regions['World bank region'][regions['World bank region'][regions['name'] == str(i) ].index[0]],
        "code" : regions['geo'][regions['geo'][regions['name'] == str(i)].index[0]],
        "income" : [],
        "population" : [],     
        "tsunami" : [],
        "life" : [],
        "children": [],
    }  
    for j in range(1800,2101):
        if tsunami.columns.contains(str(j)) and tsunami.index[tsunami['country'].str.contains(i)].size >0:
            x['tsunami'].append(str(tsunami[str(j)][tsunami.index[tsunami['country'].str.contains(i)][0]]))
            if tsunami[str(j)][tsunami.index[tsunami['country'].str.contains(i)][0]] > max_tsunami:
                max_tsunami = tsunami[str(j)][tsunami.index[tsunami['country'].str.contains(i)][0]]
        else:
            x['tsunami'].append('NaN')
        
        if income.columns.contains(str(j)) and income.index[income['country'].str.contains(i)].size >0:
            x['income'].append(str(income[str(j)][income.index[income['country'].str.contains(i)][0]]))
            if income[str(j)][income.index[income['country'].str.contains(i)][0]] > max_income:
                max_income = income[str(j)][income.index[income['country'].str.contains(i)][0]]
        else:
            x['income'].append('NaN')

        if life.columns.contains(str(j)) and life.index[life['country'].str.contains(i)].size >0:
            x['life'].append(str(life[str(j)][life.index[life['country'].str.contains(i)][0]]))
            if life[str(j)][life.index[life['country'].str.contains(i)][0]] > max_life:
                max_life = life[str(j)][life.index[life['country'].str.contains(i)][0]]
        else:
            x['life'].append('NaN')
        
        if population.columns.contains(str(j)) and population.index[population['country'].str.contains(i)].size >0:
            x['population'].append(str(population[str(j)][population.index[population['country'].str.contains(i)][0]]))
            if population[str(j)][population.index[population['country'].str.contains(i)][0]] > max_population:
                max_population = population[str(j)][population.index[population['country'].str.contains(i)][0]]
        else:
            x['population'].append('NaN')
        
        if children.columns.contains(str(j)) and children.index[children['country'].str.contains(i)].size >0:
            x['children'].append(str(children[str(j)][children.index[children['country'].str.contains(i)][0]]))
            if children[str(j)][children.index[children['country'].str.contains(i)][0]] > max_children:
                max_children = children[str(j)][children.index[children['country'].str.contains(i)][0]]
        else:
            x['children'].append('NaN')
    ans.append(x)

max_values = {
    "max_income" : str(max_income),
    "max_tsunami" : str(max_tsunami),
    "max_population" : str(max_population),
    "max_life" : str(max_life),
    "max_children" : str(max_children),
}

In [21]:
max_values

{&#39;max_children&#39;: &#39;756.0&#39;,
 &#39;max_income&#39;: &#39;179000&#39;,
 &#39;max_life&#39;: &#39;94.8&#39;,
 &#39;max_population&#39;: &#39;1650000000&#39;,
 &#39;max_tsunami&#39;: &#39;1060000.0&#39;}

In [27]:
final = json.dumps(ans)
final_max = json.dumps(max_values)

In [29]:
with open("sample.json", "w") as outfile: 
    outfile.write(final) 

with open("max_values.json", "w") as outfile: 
    outfile.write(final_max)

In [249]:
tsunami.columns.contains("2004")

True

In [234]:
tsunami.columns.contains('country')

True

In [333]:
regions['World bank region'][regions['World bank region'][regions['name'] == 'Zimbabwe'].index[0]]

str

In [364]:
regions['World bank region'][regions['World bank region'][regions['name'] == 'Zimbabwe'].index[0]]

&#39;Sub-Saharan Africa&#39;

In [372]:
income[str(2000)][income.index[income['country'].str.contains("India")][0]]

2710

In [26]:
regions[regions['name'] == str(i)].index[0]

196

In [23]:
regions['name'] == str(i)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196     True
Name: name, Length: 197, dtype: bool

In [25]:
regions[regions['name'] == str(i)].index[0]

196